<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
    </ion-buttons>
    <ion-title>Reporting</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container">

    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title size="large">Reporting</ion-title>
      </ion-toolbar>
    </ion-header>
    <!-- Daily: {{ daily.cost | currency }} -->
     <div class="ion-padding" style="font-size: 1.2em;">
       Monthly: <b>{{ monthly.cost | currency }}</b>
       Yearly: <b>{{ yearly.cost | currency }}</b>
     </div>
  
    <ion-list>
      <ion-item-divider>Daily Cost Breakdown - {{ today | date }}</ion-item-divider>
      @for(cost of daily; let index = $index; track index) {
        <ion-item>
          <ion-label>
            <h2>{{ cost.modelId }}</h2>
            <p>Input Tokens: {{ cost.inputTokens | number }}</p>
            <p>Output Tokens: {{ cost.outputTokens | number }}</p>
          </ion-label>
          <ion-badge>{{ cost.totalCost | currency }} </ion-badge>
        </ion-item>
      } 
    </ion-list>
  </div>
</ion-content>
