ion-list {
  margin-top: 20px;
  ion-item-divider {
    font-size: 12px;
  }
}
ion-item {
    ion-button {
      opacity: 0;
      transition: opacity 0.2s ease; 
    }

    &:hover ion-button {
        opacity: 1;
        transition: opacity 0.2s ease; 
    }
  }
  
