// client/ai.client/src/app/core/side-nav/side-nav.component.scss
ion-item {
    
    
    ion-button {
      opacity: 0;
      transition: opacity 0.2s ease; 
    }

    &:hover ion-button {
        opacity: 1;
        transition: opacity 0.2s ease; 
    }
  }
  
