
  <ion-list>
    <ion-item-divider sticky>
      Conversations
    </ion-item-divider>
  
    @if(conversations.status() === status.Loading) {
     <ion-item lines="none" color="light">
       <ion-label>Loading Conversations</ion-label>
       <ion-spinner></ion-spinner>
     </ion-item>
    }
    
    @for(conversation of conversations.value(); track conversation.conversationId) {
      <ion-item (click)="setConversation(conversation)"
        lines="none"
        [color]="currentConversation().conversationId === conversation.conversationId ? 'medium' : 'light'" button [detail]="currentConversation().conversationId === conversation.conversationId">
        <ion-label>
          {{ conversation.name }}
        </ion-label>
      </ion-item>
    }
  </ion-list>
