<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        Cancel
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
  <ion-content class="ion-padding">
    <form [formGroup]="form">

      <!-- Name Input -->
        <ion-input
          formControlName="name"
          label="Name"
          labelPlacement="floating"
          placeholder="Enter Name"
          errorText="Name is required."
          helperText="This is what users will see."
          required
        ></ion-input>
      <!-- Model ID Input -->
        <ion-input
          formControlName="modelId"
          label="Model ID"
          labelPlacement="floating"
          placeholder="Enter Model ID"
          errorText="Model Id is required."
          helperText="The unique model id from the provider."
          required
        ></ion-input>
        <ion-input
                formControlName="effectiveDate"
                label="Effective Date"
                labelPlacement="floating"
                type="date"
                placeholder="Select Effective Date"
                errorText="Effective Date is required."
                helperText="The date this pricing takes effect."
                required
              ></ion-input>
  
      <!-- Description Textarea -->
        <ion-textarea
          formControlName="description"
          label="Description"
          labelPlacement="floating"
          placeholder="Enter Description"
          helperText="Help users understand what this model is good at and when they should use it."
        ></ion-textarea>
        <ion-input
          formControlName="creator"
          label="Creator"
          labelPlacement="floating"
          placeholder="Enter Name"
          helperText="The model vendor (e.g., OpenAI, Anthropic, AWS, etc..)"
        ></ion-input>

      <ion-grid>
        <ion-row>
          <ion-col>
            <!-- Input Price Per Million Tokens Input -->
              <ion-input
                formControlName="inputPricePerMillionTokens"
                label="Input Price Per Million Tokens"
                labelPlacement="floating"
                type="number"
                placeholder="Enter Input Price"
                errorText="Input price greater than zero is required."
                required
              ></ion-input>
          </ion-col>
          <ion-col>
            <!-- Output Price Per Million Tokens Input -->
              <ion-input
                formControlName="outputPricePerMillionTokens"
                label="Output Price Per Million Tokens"
                labelPlacement="floating"
                type="number"
                placeholder="Enter Output Price"
                errorText="Output price greater than zero is required."
                required
              ></ion-input>
          </ion-col>
        </ion-row>
      </ion-grid>
            <ion-input
              formControlName="sortOrder"
              label="Sort Order"
              labelPlacement="floating"
              type="number"
              placeholder="Enter Sort Order"
              errorText="Sort order is required."
              required
            ></ion-input>
          <ion-item>
            <ion-checkbox
              formControlName="enabled"
              label="Enabled"
              labelPlacement="start"
            >Enabled</ion-checkbox>
          </ion-item>
          <ion-card>
            <ion-item>
              <ion-label>Restrict Access By Role</ion-label>
            </ion-item>
            <ion-item lines="none">
              <ion-label>
                <p>If no roles are selected, all users will have access to this model.</p>
              </ion-label>
            </ion-item>
            @for(role of availableRoles; track role.value) {
              <ion-item>
                <ion-checkbox 
                  [checked]="isRoleSelected(role.value)" 
                  (ionChange)="toggleRole(role.value)">
                  {{ role.name }}
                </ion-checkbox>
              </ion-item>
            }
          </ion-card>
  
    </form>
  </ion-content>
  <ion-footer>
    <ion-toolbar color="light">
      <ion-button (click)="saveModel()" expand="block" shape="round">Save</ion-button>
    </ion-toolbar>
  </ion-footer>
