<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        Cancel
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
  <ion-content>
    <form [formGroup]="form">

      <!-- Name Input -->
      <ion-item>
        <ion-input
          formControlName="name"
          label="Name"
          labelPlacement="floating"
          placeholder="Enter Name"
          errorText="Name is required."
          required
        ></ion-input>
      </ion-item>
      <!-- Model ID Input -->
      <ion-item>
        <ion-input
          formControlName="modelId"
          label="Model ID"
          labelPlacement="floating"
          placeholder="Enter Model ID"
          errorText="Model Id is required."
          required
        ></ion-input>
      </ion-item>
  
      <!-- Description Textarea -->
      <ion-item>
        <ion-textarea
          formControlName="description"
          label="Description"
          labelPlacement="floating"
          placeholder="Enter Description"
        ></ion-textarea>
      </ion-item>
      <ion-item>
        <ion-input
          formControlName="creator"
          label="Creator"
          labelPlacement="floating"
          placeholder="Enter Name"
          required
        ></ion-input>
      </ion-item>


      <ion-grid>
        <ion-row>
          <ion-col>
            <!-- Input Price Per Million Tokens Input -->
            <ion-item>
              <ion-input
                formControlName="inputPricePerMillionTokens"
                label="Input Price Per Million Tokens"
                labelPlacement="floating"
                type="number"
                placeholder="Enter Input Price"
                errorText="Input price required."
                required
              ></ion-input>
            </ion-item>
          </ion-col>
          <ion-col>
            <!-- Output Price Per Million Tokens Input -->
            <ion-item>
              <ion-input
                formControlName="outputPricePerMillionTokens"
                label="Output Price Per Million Tokens"
                labelPlacement="floating"
                type="number"
                placeholder="Enter Output Price"
                errorText="Output price required."
                required
              ></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
        <ion-item>
            <ion-input
              formControlName="sortOrder"
              label="Sort Order"
              labelPlacement="floating"
              type="number"
              placeholder="Enter Sort Order"
              errorText="Sort order is required."
              required
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-checkbox
              formControlName="enabled"
              label="Enabled"
              labelPlacement="start"
            >Enabled</ion-checkbox>
          </ion-item>
            <ion-item>
              <ion-input
                formControlName="effectiveDate"
                label="Effective Date"
                labelPlacement="floating"
                type="date"
                placeholder="Select Effective Date"
                errorText="Effective Date is required."
                required
              ></ion-input>
            </ion-item>
  
    </form>
  </ion-content>
  <ion-footer>
    <ion-toolbar>
      <ion-button (click)="saveModel()" expand="block" shape="round">Save</ion-button>
    </ion-toolbar>
  </ion-footer>
